
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');



*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}


.first-section-container{

    display: flex;
    align-items: center;
    justify-content:center ;
    width: 100vw;
    height: 90vh;
    background-image: url(img/background-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.jordan-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 150px;
    background:linear-gradient(to right, transparent, #Ffffff , transparent);
    padding: 10px 0px;
        
}
#jordan-logo{
    width: 150px;
}

.divisory{
    background-color: black;
    background-image: url(img/nike-logo.png);
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 30px;

}

.second-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 900px;
    width: 100vw;
    background-image: url(img/graffiti-image.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FBFFF1;
    text-align: center;

}
#second-section-title{
    margin-top: 30px;
    padding: 20px 0px;
    text-align: center;
    font-weight:100;
    font-size: 40pt;
}
#img-jordans-collored{
    background-color: #FBFFF1;
    width: 600px;
    height: 400px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 1s ease-in-out;
    filter: saturate(0%);
}
#img-jordans-collored:hover{

    transform: scale(1.1);
    filter: saturate(100%);
}














/* ANIMATIONS*/


